name: Slack Post

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  post:
    name: Use this action for check
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Check out
        uses: actions/checkout@v2
      - name: Create SHA info
        id: sha-info
        run: |
          if [[ '${{ github.event_name }}' == 'pull_request' ]]; then
            sha='${{ github.event.pull_request.head.sha }}'
          elif [[ '${{ github.event_name }}' == 'push' ]]; then
            sha='${{ github.sha }}'
          fi
          echo "::set-output name=sha::$sha"
      - name: Use this action
        uses: ./
        id: post
        env:
          SLACK_APP_TOKEN: ${{ secrets.SLACK_APP_TOKEN }}
        with:
          channel: 'CCU1QA6HL'
          message: 'Hello World!'
          log-button: 'View log'
          report-sha: ${{ steps.sha-info.outputs.sha }}
      - name: Show result
        if: always()
        run: echo '${{ steps.post.outputs.result }}'
